.navbar-wrapper {
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  height: 60px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fa7268; 
  cursor: pointer; 
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav-links li {
  padding: 10px 15px;
  margin-right: 10px;
}

.nav-links li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li a:focus {
  color: #fa7268;
}

.nav-links li:last-child {
  margin-right: 0;
}
